<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FloatingBus</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>servlet.TimeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LocationSerclet</servlet-name>
    <servlet-class>servlet.LocationSerclet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>splitServlet</servlet-name>
    <servlet-class>servlet.splitServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/ts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocationSerclet</servlet-name>
    <url-pattern>/loc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>splitServlet</servlet-name>
    <url-pattern>/split</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>